# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build

# Vim files
*.vim
*.swp
*.un~

# CTags file
tags

# Clang files
.clang-format
.clang-tidy

# Cache directory
.cache/

# Pre-commit file
cmake/modules/PreCommit.cmake
